<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 ShopGo. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="ShopGo\AmazonSns\Model\Topic\Config\SchemaLocator" type="ShopGo\AmazonSns\Model\Config\SchemaLocator">
        <arguments>
            <argument name="fileName" xsi:type="string">topic.xsd</argument>
        </arguments>
    </virtualType>
    <virtualType name="ShopGo\AmazonSns\Model\Topic\Config\File" type="ShopGo\AmazonSns\Model\Config\File">
        <arguments>
            <argument name="schemaLocator" xsi:type="object">ShopGo\AmazonSns\Model\Topic\Config\SchemaLocator</argument>
            <argument name="fileName" xsi:type="string">topic.xml</argument>
        </arguments>
    </virtualType>
    <type name="ShopGo\AmazonSns\Console\Command\Subscribe">
        <arguments>
            <argument name="fileConfig" xsi:type="object">ShopGo\AmazonSns\Model\Topic\Config\File</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="createTopic" xsi:type="object">ShopGo\AmazonSns\Console\Command\CreateTopic</item>
                <item name="subscribe" xsi:type="object">ShopGo\AmazonSns\Console\Command\Subscribe</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="amazon_sns_topic_listing_data_source" xsi:type="string">ShopGo\AmazonSns\Model\ResourceModel\Topic\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="ShopGo\AmazonSns\Model\ResourceModel\Topic\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">amazon_sns_topic</argument>
            <argument name="eventPrefix" xsi:type="string">amazon_sns_topic_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">topic_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">ShopGo\AmazonSns\Model\ResourceModel\Topic</argument>
        </arguments>
    </type>
    <virtualType name="TopicGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="TopicGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">ShopGo\AmazonSns\Model\ResourceModel\Topic\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">TopicGridFilterPool</argument>
        </arguments>
    </virtualType>
</config>
