<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 ShopGo. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="ShopGo\AmazonSns\Model\System\Config\SchemaLocator" type="ShopGo\AmazonSns\Model\Config\SchemaLocator">
        <arguments>
            <argument name="fileName" xsi:type="string">config.xsd</argument>
        </arguments>
    </virtualType>
    <virtualType name="ShopGo\AmazonSns\Model\System\Config\File" type="ShopGo\AmazonSns\Model\Config\File">
        <arguments>
            <argument name="schemaLocator" xsi:type="object">ShopGo\AmazonSns\Model\System\Config\SchemaLocator</argument>
            <argument name="fileName" xsi:type="string">config.xml</argument>
        </arguments>
    </virtualType>
    <type name="ShopGo\AmazonSns\Model\Config">
        <arguments>
            <argument name="fileConfig" xsi:type="object">ShopGo\AmazonSns\Model\System\Config\File</argument>
        </arguments>
    </type>
</config>
