<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 ShopGo. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="amazon_sns" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="0" showInStore="0">
            <class>separator-top</class>
            <label>Amazon SNS</label>
            <tab>shopgo</tab>
            <resource>ShopGo_AmazonSns::config_amazon_sns</resource>
            <group id="general" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General</label>
                <field id="protocol" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Protocol</label>
                    <source_model>ShopGo\AmazonSns\Model\System\Config\Source\Protocol</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
